@using ProdCate.Models;
@model Cate;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Categories</title>
</head>
<body>
    <div id="container">
        <div id="navBar">
            <h1><a href="products">Products</a></h1>
            <h1> | </h1>
            <h1>Categories</h1>
        </div>
        <div class="col">
            <h2>New Category</h2>
            <form asp-action="CreateCate">
                <div class="row">
                    <span asp-validation-for="CateName"></span>
                    <label asp-for="CateName"></label>
                    <input asp-for="CateName">
                </div>
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="col">
            <h2>Existing Categories</h2>
            @foreach (Cate cat in Model.listOfCates)
            {
                <h3><a href="categories/@cat.Cateid">@cat.CateName</a></h3>
            }
        </div>
    </div>
</body>
</html>