<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Dojo Survey Index</title>
</head>
<body>
    <div id="container">
        <form action="result" method="post">
            <div class="input">
                <label for="name">Your Name:</label>
                <input type="text" name ="name">
            </div>
            <div class="input">
                <label for="location">Dojo Location:</label>
                <select name="location">
                    <option value="San Jose">San Jose</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Seattle">Seattle</option>
                </select>
            </div>
            <div class="input">
                <label for="faveLang">Favorite Language:</label>
                <select name="faveLang">
                    <option value="C#">C#</option>
                    <option value="python">Python</option>
                    <option value="java">Java</option>
                    <option value="javascript">JavaScript</option>
                </select>
            </div>
            <div class="input">
                <label for="comment">Comment (optional):</label>
                <textarea name="comment" cols="30" rows="10">Delete Me</textarea>
            </div>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>