@model DojoSurvey.Models.Survey;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Dojo Survey Index</title>
</head>
<body>
    <div id="container">
        <h1>Submitted Info</h1>
        <div class="info">
            <p>Name: @Model.Name</p>
        </div>
        <div class="info">
            <p>Dojo Location: @Model.Location</p>
        </div>
        <div class="info">
            <p>Favorite Language: @Model.FaveLang</p>
        </div>
        <div class="info">
            <p>Comment: @Model.Comment</p>
        </div>
        <button><a href="/">Go Back</a></button>
    </div>
</body>
</html>