@using ChefsDishes.Models;
@model IndexView;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div id="container">
        <div id="navBar">
            <h1>Chefs</h1>
            <h1> | </h1>
            <h1><a href="dishes">Dishes</a></h1>
            <a href="new">Add a Chef</a>
        </div>
        <h3>Check out our roster of Chefs!</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Number of Dishes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach(Dish dish in Model.AllDishes)
                    {
                        <td>@dish.Creator.fname @dish.Creator.lname</td>
                        <td>@dish.Creator.dob</td>
                        <td>@dish.Creator.CreatedDish.Count</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>