@model ChefsDishes.Models.Chef
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div id="container">
        <h1>Add a Chef!</h1>
        <div id="navBar">
            <a href="/">Home</a>
        </div>
        <form asp-action="AddChef">
            <div class="col">
                <div class="row">
                    <span asp-validation-for="fname"></span>
                    <label asp-for="fname"></label>
                    <input asp-for="fname">
                </div>
                <div class="row">
                    <span asp-validation-for="lname"></span>
                    <label asp-for="lname"></label>
                    <input asp-for="lname">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <span asp-validation-for="dob"></span>
                    <label asp-for="dob"></label>
                    <input asp-for="dob">
                </div>
                <div class="row">
                    <input type="submit" value="Add Chef">
                </div>
            </div>
        </form>
    </div>
</body>
</html>