<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div id="container">
        <div id="navBar">
            <h3>Home</h3>
            <h3> | </h3>
            <a href="projects"><h3>Projects</h3></a>
            <h3> | </h3>
            <a href="contact"><h3>Contact</h3></a>
        </div>
        <h2>About Me</h2>
        <div id="box">
            <div class="leftCol">
                <img src="" alt="Picture Me">
                <h4>Moose Phillips</h4>
                <h5>I like stuff!</h5>
            </div>
            <div class="rightCol">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quas numquam omnis sint! Sint, perspiciatis. 
                    Maiores eum quod quidem, unde perferendis enim nam neque deserunt debitis laboriosam, distinctio reprehenderit. 
                    In! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Id, laboriosam, excepturi, reiciendis consequatur ut molestiae voluptatem maiores veniam cum maxime iure officiis? 
                    Molestiae deserunt eaque rem quos saepe? Impedit, corrupti.</p>
            </div>
        </div>
    </div>
</body>
</html>