<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div id="contain">
        <div id="navBar">
            <a href="/"><h4>Home</h4></a>
            <h4> | </h4>
            <h4>Projects</h4>
            <h4> | </h4>
            <a href="contact"><h4>Contact</h4></a>
        </div>
        <h2>Here are some projects of mine!</h2>
        <div id="box">
            <div class="one">
                <img src="" alt="thing1">
                <h4>Cool thing</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime accusantium quo voluptatum eos beatae atque? Ex dicta error, commodi quibusdam eaque non iure sed labore vel maxime cupiditate excepturi. Quia.</p>
            </div>
            <div class="two">
                <img src="" alt="thing2">
                <h4>Cool thing</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit debitis id architecto nobis eius sequi eos quis quasi porro, facilis non blanditiis unde temporibus voluptatibus nostrum iure molestiae amet! Ad.</p>
            </div>
            <div class="three">
                <img src="" alt="thing3">
                <h4>Cool thing</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor culpa sit quibusdam ea maiores, fugiat veritatis architecto tempora maxime ad? Repellendus inventore, explicabo dolore numquam aliquid illo corporis eos. A!</p>
            </div>
        </div>
    </div>
</body>
</html>